* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A3069;
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    max-width: 250px;
    padding: 25px;
    border-radius: 15px;
}

.wrapper__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player__name {
    font-size: 18px;
    color: white;
}